<div class="jumbotron">
  <h1 id="uvp">Create amazing adventures and meet new people!</h1>
  <p id="uvp-desc">
    Share your journeys by finding kindred spirits to travel with,
    whether it's for safety, to numb the boredom, or make new friends.
    Join us and become part of a great community.
  </p>
  <%= link_to "Signup now", signup_path, class: "btn btn-large palette-carrot" %>
</div>
<div class="row-fluid#description">
  <div class="span4">
    <img class="marketing-img"></img>
    <h2>
      Donec id elit non mi porta gravida at eget metus.
    </h2>
    <p>
      Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut
      fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
      mollis euismod. Donec sed odio dui.
    </p>
  </div>
  <div class="span4">
    <img class="marketing-img"></img>
    <h2>
      Donec id elit non mi porta gravida at eget metus.
    </h2>
    <p>
      Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut
      fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
      mollis euismod. Donec sed odio dui.
    </p>
  </div>
  <div class="span4">
    <img class="marketing-img"></img>
    <h2>
      Donec id elit non mi porta gravida at eget metus.
    </h2>
    <p>
      Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut
      fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
      mollis euismod. Donec sed odio dui.
    </p>
  </div>
</div>
