.jumbotron
  %h1#uvp Create amazing adventures and meet new people!
  %p#uvp-desc
    Share your journeys by finding kindred spirits to travel with,
    whether it's for safety, to numb the boredom, or make new friends.
    Join us and become part of a great community.
  = link_to "Signup now", signup_path, class: "btn btn-large palette-carrot"

.row-fluid#description
  .span4
    %img.marketing-img
    %h2
      Donec id elit non mi porta gravida at eget metus.
    %p
      Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut
      fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
      mollis euismod. Donec sed odio dui.
  .span4
    %img.marketing-img
    %h2
      Donec id elit non mi porta gravida at eget metus.
    %p
      Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut
      fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
      mollis euismod. Donec sed odio dui.

  .span4
    %img.marketing-img
    %h2
      Donec id elit non mi porta gravida at eget metus.
    %p
      Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut
      fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
      mollis euismod. Donec sed odio dui.
