.row#landing-page-container
  .span24#details
    .span9
      %h1#landing-page-headline
        Create amazing adventures and meet new people!
      .row
        .span9
      .row
        .span8
          %p.lead#landing-page-description
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
      .row
        .span10
      .row
        .span6
          = render 'form'
    .span2
    .span7#featured
      %h1 Placeholder for slideshow
      .carousel.slide#landing-page-slider
        %ol.carousel-indicators
          %li.active{"data-target"=> "landing-page-slider", "data-slide-to"=> "0", "class"=> "active" }
          %li.active{"data-target"=> "landing-page-slider", "data-slide-to"=> "1", "class"=> "active" }
          %li.active{"data-target"=> "landing-page-slider", "data-slide-to"=> "2", "class"=> "active" }
        .carousel-inner
          .active.item
            = image_tag "images1.jpg"
          .item
            = image_tag "images2.jpg"
          .item
            = image_tag "images3.jpg"
        %a.carousel-control.left{"href"=> "landing-page-slider", "data-slide"=> "prev"}
          &lsaquo;
        %a.carousel-control.right{"href"=> "landing-page-slider", "data-slide"=> "next"}
          &rsaquo;

