.row#landing-page-container
  .span24
    .span9
      .row
        .span9
          %h1#landing-page-headline
            Create amazing adventures and meet new people!
      .row
        .span8
          %p.lead#landing-page-description
            Enjoy your journies by finding kindred spirits to travel with
            whether it's for safety, to kill the boredom, or make new friends.
      .row
        .span8
          %h2.lead#landing-page-subheadline
            We'll be launching soon. Do you want to be part of this adventure?
      .row
        .span6
          = render 'form'

    .span7
      .carousel.slide#landing-page-slider
        %ol.carousel-indicators
          %li.active{"data-target"=> "landing-page-slider", "data-slide-to"=> "0", "class"=> "active" }
          %li.active{"data-target"=> "landing-page-slider", "data-slide-to"=> "1", "class"=> "active" }
          %li.active{"data-target"=> "landing-page-slider", "data-slide-to"=> "2", "class"=> "active" }
        .carousel-inner
          .active.item
            = image_tag "images1.jpg"
          .item
            = image_tag "images2.jpg"
          .item
            = image_tag "images3.jpg"
        %a.carousel-control.left{"href"=> "landing-page-slider", "data-slide"=> "prev"}
          ‹
        %a.carousel-control.right{"href"=> "landing-page-slider", "data-slide"=> "next"}
          ›

