// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  text-align: center;
  color: #6c6b6b;
  font-size: 42px;
  margin-top: 5%;
}

#uvp {font-size: 70px;
  color: #e67e22;
  line-height: 80px;
}

#uvp-desc {
  font-family: "Proxima N W02 Reg",Helvetica,Arial,sans-serif;
  font-size: 0.6em;
  line-height: 30px;
}

.jumbotron .btn-large {
  width: 10%;
}

#description {
  margin-top: 4%;
}

#description h2 p {
  font-family: "Proxima N W02 Reg",Helvetica,Arial,sans-serif;
}
